<nav class="navbar navbar-dark bg-dark">
    <div class="d-flex ml-3" style="margin-left: 10px;">
        <span class="navbar-brand mb-0 h1">Angular Training</span>
        <span class="navbar-text ml-auto">
            Presented by: Prof Oussama BOUISFI

        </span>
        <!-- <ng-select [items]="languages" bindLabel="label" bindValue="code" [(ngModel)]="selectedLanguage"
            (change)="changeLanguage($event)"></ng-select>
        <div class="language-flags" style="display: flex; gap: 10px;
        cursor: pointer;">
            <span *ngFor="let item of languages" (click)="changeLanguage(item.code)">
                {{item.flag}}</span>
        </div> -->
    </div>



</nav>